In [1]:
class Person:
    pass

In [28]:
p1 = Person()
p1.name = "Elon"
p1.surname = "Musk"
p1.place_of_birth = "SA"
p1.year_of_birth = 1965

In [25]:
p2 = Person()
p2.name = "Sergei"
p2.surname = "Korolev"
p2.place_of_birth = "UA"
p2.year_of_birth = 1923

In [5]:
print(p1.name)

Elon

In [7]:
print(f"Name: {p1.name}, Surname: {p1.surname}, Place of birth: {p1.place_of_birth}")

Name: Elon, Surname: Musk, Place of birth: SA

In [8]:
print(f"Name: {p2.name}, Surname: {p2.surname}, Place of birth: {p2.place_of_birth}")

Name: Sergei, Surname: Korolev, Place of birth: UA

In [ ]:
def some_func():
    #some code

In [23]:
class Person:
    def print_info(self, n):
        for i in range(n):
            print(f"Name: {self.name}, Surname: {self.surname}, Place of birth: {self.place_of_birth}")
    
    def get_age(age):

In [13]:
p1.print_info()

Name: Elon, Surname: Musk, Place of birth: SA

In [14]:
p2.print_info()

Name: Sergei, Surname: Korolev, Place of birth: UA

In [15]:
Person.print_info(p1)

Name: Elon, Surname: Musk, Place of birth: SA

In [16]:
Person.print_info(p2)

Name: Sergei, Surname: Korolev, Place of birth: UA

In [26]:
p1.print_info(3)

Name: Elon, Surname: Musk, Place of birth: SA
Name: Elon, Surname: Musk, Place of birth: SA
Name: Elon, Surname: Musk, Place of birth: SA

In [27]:
p2.print_info(5)

Name: Sergei, Surname: Korolev, Place of birth: UA
Name: Sergei, Surname: Korolev, Place of birth: UA
Name: Sergei, Surname: Korolev, Place of birth: UA
Name: Sergei, Surname: Korolev, Place of birth: UA
Name: Sergei, Surname: Korolev, Place of birth: UA

In [53]:
class Person:
    def print_info(self, n):
        for i in range(n):
            print(f"Name: {self.name}, Surname: {self.surname}, Place of birth: {self.place_of_birth}")
    
    def get_age(self, current_year):
        if current_year >= self.year_of_birth:
            print(f"Age: {current_year - self.year_of_birth}")

In [54]:
p1 = Person()
p1.name = "Elon"
p1.surname = "Musk"
p1.place_of_birth = "SA"
p1.year_of_birth = 1971

In [55]:
p2 = Person()
p2.name = "Sergei"
p2.surname = "Korolev"
p2.place_of_birth = "UA"
p2.year_of_birth = 1907

In [56]:
p1.get_age(2020)

Age: 49

In [57]:
p2.get_age(2020)

Age: 113

In [59]:
p1.print_info(1)
p2.print_info(1)

Name: Elon, Surname: Musk, Place of birth: SA
Name: Sergei, Surname: Korolev, Place of birth: UA

In [65]:
p3 = Person()
p3.name = "Albert"
p3.suname = "Einstein"
p3.year_of_birth = 1879
# no place_of_birth

In [64]:
p3.print_info(1)

AttributeError: 'Person' object has no attribute 'place_of_birth'

In [71]:
class Person:
    
    def __init__(self, name, surname, place_of_birth, year_of_birth):
        self.name = name
        self.surname = surname
        self.place_of_birth = place_of_birth
        self.year_of_birth = year_of_birth
        
        print("Hello")
    
    def print_info(self, n):
        for i in range(n):
            print(f"Name: {self.name}, Surname: {self.surname}, Place of birth: {self.place_of_birth}")
    
    def get_age(self, current_year):
        if current_year >= self.year_of_birth:
            print(f"Age: {current_year - self.year_of_birth}")

In [72]:
p1 = Person("Elon", "Musk", "SA", 1971)
p2 = Person("Sergei", "Korolev", "UA", 1907)
p3 = Person("Albert", "Einstein", "GE", 1879)

Hello
Hello
Hello

In [68]:
p1.print_info(1)
p2.print_info(1)
p3.print_info(1)

Name: Elon, Surname: Musk, Place of birth: SA
Name: Sergei, Surname: Korolev, Place of birth: UA
Name: Albert, Surname: Einstein, Place of birth: GE

In [69]:
p1.test = "Hello"

In [70]:
p1.test

'Hello'

In [99]:
class Person:
    some_num = 123
    
    def __init__(self, name, surname, place_of_birth, year_of_birth):
        self.name = name
        self.surname = surname
        self.place_of_birth = place_of_birth
        self.year_of_birth = year_of_birth
    
    def print_info(self, n):
        for i in range(n):
            print(f"Name: {self.name}, Surname: {self.surname}, Place of birth: {self.place_of_birth}")
    
    def get_age(self, current_year):
        if current_year >= self.year_of_birth:
            print(f"Age: {current_year - self.year_of_birth}")

In [100]:
p1 = Person("Elon", "Musk", "SA", 1971)
p2 = Person("Sergei", "Korolev", "UA", 1907)

In [75]:
p1.some_num

123

In [77]:
p2.some_num

123

In [78]:
Person.some_num

123

In [79]:
Person.some_num = 456

In [80]:
Person.some_num

456

In [81]:
p2.some_num

456

In [82]:
p1.some_num = 789

In [83]:
Person.some_num

456

In [84]:
p1.some_num

789

In [85]:
p2.some_num

456

In [93]:
class Circle:
    
    PI = 3.14
    
    def __init__(self, radius):
        self.radius = radius
        
    def get_perimeter(self):
        return self.radius * 2 * Circle.PI # or self.PI
    
    def get_area(self):
        return Circle.PI * self.radius ** 2

In [94]:
c1 = Circle(3)
print(c1.get_perimeter())
print(c1.get_area())

18.84
28.26

In [95]:
c2 = Circle(7)
print(c2.get_perimeter())
print(c2.get_area())

43.96
153.86

In [ ]:
class DB:
    dbConnection = pass

    def write_some_data(self):
        DB. or self.

In [110]:
class Person:
    some_num = 123
    people_count = 0
    
    def __init__(self, name, surname, place_of_birth, year_of_birth):
        self.name = name
        self.surname = surname
        self.place_of_birth = place_of_birth
        self.year_of_birth = year_of_birth
        Person.people_count += 1
    
    def print_info(self, n):
        for i in range(n):
            print(f"Name: {self.name}, Surname: {self.surname}, Place of birth: {self.place_of_birth}")
    
    def get_age(self, current_year):
        if current_year >= self.year_of_birth:
            print(f"Age: {current_year - self.year_of_birth}")

In [111]:
p1 = Person("Elon", "Musk", "SA", 1971)
p2 = Person("Sergei", "Korolev", "UA", 1907)

In [112]:
print(Person.people_count)

2