In [1]:
class Person:
    name = "Ivan"
    age = 10
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    
    def __set(self, name, age):
        self.name = name
        self.age = age
        
class Student(Person):
    course = 1
    
igor = Student("Igor", 19)
#igor._Person__set("Igor", 19)
print(igor.course)
    
vlad = Person("Vlad",25)
#vlad._Person__set("Vlad",25)
print(vlad.name + " " + str(vlad.age))

vlad = Person("Ivan",56)
#vlad._Person__set("Ivan",56)
print(vlad.name + " " + str(vlad.age))

1
Vlad 25
Ivan 56

In [4]:
class Person:
    name = "Ivan"
    age = 10
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    
    def __set(self, name, age):
        self.name = name
        self.age = age
        
class Student(Person):
    course = 2
    
igor = Student("Vasy", 19)
#igor._Person__set("Igor", 19)
print(igor.course)
print(igor.name)
    
vlad = Person("Vlad",25)
#vlad._Person__set("Vlad",25)
print(vlad.name + " " + str(vlad.age))

vlad = Person("Ivan",56)
#vlad._Person__set("Ivan",56)
print(vlad.name + " " + str(vlad.age))

2
Vasy
Vlad 25
Ivan 56

In [7]:
class Person:
    name = "Ivan"
    age = 10
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    
    def __set(self, name, age):
        self.name = name
        self.age = age
        
class Student(Person):
    course = 1
    
    def __set(self, name, age,course):
        self.name = name
        self.age = age
        self.course = course
    
igor = Student("Vasy", 19)
#igor._Person__set("Igor", 19)
igor._Person__set("Igor", 23, 5)
igor.course = 2
print("Name :" , igor.name, ", age - ", igor.age, ", course - ", igor.course)
    
vlad = Person("Vlad",25)
#vlad._Person__set("Vlad",25)
print(vlad.name + " " + str(vlad.age))

vlad = Person("Ivan",56)
#vlad._Person__set("Ivan",56)
print(vlad.name + " " + str(vlad.age))

TypeError: __set() takes 3 positional arguments but 4 were given

In [8]:
class Person:
    name = "Ivan"
    age = 10
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    
    def set(self, name, age):
        self.name = name
        self.age = age
        
class Student(Person):
    course = 1
    
    def set(self, name, age,course):
        self.name = name
        self.age = age
        self.course = course
    
igor = Student("Vasy", 19)
#igor._Person__set("Igor", 19)
igor.set("Igor", 23, 5)
#igor.course = 2
print("Name :" , igor.name, ", age - ", igor.age, ", course - ", igor.course)
    
vlad = Person("Vlad",25)
#vlad._Person__set("Vlad",25)
print(vlad.name + " " + str(vlad.age))

vlad = Person("Ivan",56)
#vlad._Person__set("Ivan",56)
print(vlad.name + " " + str(vlad.age))

Name : Igor , age -  23 , course -  5
Vlad 25
Ivan 56