In [2]:
a = set()
print(type(a))
print(a)

<class 'set'>
set()

In [3]:
a = set("hello")
print(type(a))

<class 'set'>

In [10]:
a = {}
print(type(a))
print(a)
a = {'23':32}
print(type(a))
print(a)
a = {'23', 32}
print(type(a))
print(a)
a = {23}
print(type(a))
print(a)

<class 'dict'>
{}
<class 'dict'>
{'23': 32}
<class 'set'>
{32, '23'}
<class 'set'>
{23}

In [9]:
a = { i ** 2 for i in range(10)}
print(type(a))
print(a)

<class 'set'>
{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [13]:
a = set("Hello")
b = frozenset ("Qwerty")
a.add(1)
print(a)
b.add(1)

{'l', 1, 'H', 'e', 'o'}

AttributeError: 'frozenset' object has no attribute 'add'

In [15]:
a = ['r', 's', 'w', 'a', 's', 'w']
print(a)
print(set(a))

['r', 's', 'w', 'a', 's', 'w']
{'s', 'a', 'w', 'r'}

In [16]:
a = {32, 45, 43.23, 76}
print(len(a))

4

In [18]:
x = 45
print(x in a)
x = 56
print(x in a)

True
False

In [25]:
x = {67, 12, 90}
print(a.isdisjoint (x))
x = {67, 45, 90}
print(a.isdisjoint (x))

True
False

In [26]:
print( a == x)
x = {32, 45, 76}
print( a == x)
x = {32, 45, 76, 43.23}
print( a == x)

False
False
True

In [27]:
a = {32, 45, 43.23, 76}
x = {23, 45, 12, 43.23}
a.update(x)
print(a)

{32, 43.23, 76, 45, 12, 23}

In [29]:
a = {32, 45, 43.23, 76}
x = {23, 45, 12, 43.23}
a.intersection_update(x)
print(a)

{43.23, 45}

In [30]:
a = {32, 45, 43.23, 76}
x = {23, 45, 12, 43.23}
a.difference_update(x)
print(a)

{32, 76}

In [32]:
a = {32, 45, 43.23, 76}
x = {23, 45, 12, 43.23}
a.symmetric_difference_update(x)
print(a)

{32, 12, 76, 23}

In [40]:
a = {32, 45, 43.23, 76}
x = {23, 45, 12, 43.23}
a.add(23)
a.remove(32)
#a.remove(33)
a.discard(33)
a.pop()
print(a)
a.clear()
print(a)

{76, 45, 23}
set()